:root {
  --primary-color: coral;
  --secondary-color: chocolate;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
}
#navbar > ul {
  height: 40px;
}
#navbar > ul > li {
  display: inline-block;
  position: relative;
  color: #333;
  height: 100%;
  padding: 10px 20px;
  cursor: pointer;
}

#navbar > ul > li > ul {
  top: 40px;
  position: absolute;
  display: none;
  width: 200px;
  background: #fff;
  left: 0;
  border-radius: 5px;
}

#navbar > ul > li > a {
  color: #333;
  text-decoration: none;
  height: 100%;
  padding: inherit;
}

#navbar > ul > li > ul > li {
  list-style: none;
}

#navbar ul li ul li {
  padding: 15px;
}

#navbar > ul > li:hover {
  background: var(--primary-color);
}

#navbar > ul > li:hover > ul {
  display: block;
}

#navbar ul li ul li:hover {
  background: var(--primary-color);
}

#navbar ul li ul li {
  display: flex;
  justify-content: space-between;
}

#navbar ul li ul li:hover a {
  color: #fff;
}

#navbar ul li ul li:hover span {
  background: var(--secondary-color);
}

#navbar ul li ul li span {
  border-radius: 5px;
  padding: 5px;
}


/* showcase */
#showcase {
  background: var(--primary-color);
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#showcase h1 {
  font-size: 60px;
  color: #ddd;
}
